/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic'); */

body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEFF1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 5em;
  margin: 0 auto;
  width: 80%;
}

.done {
  text-decoration: line-through;
}

h1 {
  margin-bottom: 3rem;
}

