/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 0 0 200px 0;
  margin: 0 auto;
  width: 70%;
  background-color: #ECEFF1;
  border: 1px solid #E0E0E0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid #E0E0E0;
  border-bottom: none;
  padding: 0;
  margin: 0 auto;
  width: 70%;
  height: 80px;
}

.conteiner {

}

.header__row {

}

.header__logo {

}

.header__nav {

}

.logo {
  margin: 0 20px 0 20px;

}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #FBC02D;
  color: #212121;
}

header a.active {
  background-color: #FBC02D;
}

nav {
  display: flex;
  align-items: center;
  }
